filter
<form #filterForm="ngForm" class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="City:"
      aria-label="Number"
      matInput
      [formControl]="cities"
      [matAutocomplete]="auto"
      ngModel
      (ngModelChange)="whenFiltering($event, 'cities')"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width" (change)="whenFiltering($event)">
    <input
      type="text"
      placeholder="Period:"
      aria-label="Number"
      matInput
      [formControl]="timePeriod"
      [matAutocomplete]="auto"
      ngModel
      (ngModelChange)="whenFiltering($event, 'period')"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Country:"
      aria-label="Number"
      matInput
      [formControl]="country"
      [matAutocomplete]="auto"
      ngModel
      (ngModelChange)="whenFiltering($event, 'country')"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Band name:"
      aria-label="Number"
      matInput
      [formControl]="bands"
      [matAutocomplete]="auto"
      ngModel
      (ngModelChange)="whenFiltering($event, 'bands')"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
