@import "./../../../assets/scss/main.scss";

.geopanx-navigation__container {
    display: flex;
    align-items: center;
    background: $purple-main;
}

.mat-list-item {
    width: auto !important;
    text-transform: uppercase;
    color: $gp-white;
}
