<mat-nav-list class="geopanx-navigation__container">
  <!-- <a mat-list-item href="..." *ngFor="let link of links"> {{ link }} </a> -->
  <h4>Geopanx!</h4>
  <a class="geopanx-navigation__item" mat-list-item href="..."> Bendovi</a>
  <a class="geopanx-navigation__item" mat-list-item href="...">Prostori</a>
  <a class="geopanx-navigation__item" mat-list-item href="...">Fanzini</a>
  <a class="geopanx-navigation__item" mat-list-item href="...">About</a>
  <a class="geopanx-navigation__item" mat-list-item href="...">Contact</a>
  <a class="geopanx-navigation__item" mat-list-item href="...">Images/Video</a>
  <a class="geopanx-navigation__item" mat-list-item href="...">Blog</a>
</mat-nav-list>
