<div class="geopanx-info-sidebar__container">
  <h2>Title</h2>
  <p>
    Ovde prostor za tabove, za svaki bend, otvoren je desription, moze jos i
    intervju, fanovi i images tabovi
  </p>
  <p>
    Takodje moze i slika benda, bilo izdanja, bilo koncerta ili nesto slicno
  </p>
  <p>Lorem ipsum text a u stvari about bend</p>
  <p>Komponenta za player</p>
</div>
