.geopanx-main__container {
    display:flex;
    width: 100%;
    height: 100%;
}

.geopanx-map__container {
    width: 67.66%;
    height: 100%;
}

.geopanx-info-sidebar__container {
  width: 33.33%
}
